
@{
    ViewBag.Title = "Sucesso!";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <br />
    <h3 class="text-center bg-success">Cadastro efetuado com sucesso! Aguarde o retorno de nosso contato.</h3>
    <br />
    <br />
    <br />
    <a class="btn- btn-success btn-lg" href="@Url.Action("Index", "Principal")">
        Ok
    </a>
}